{% extends "base.html" %}
{% block title %}<title>Driver detail</title>{% endblock %}
{% block content %}
  <h1>Driver</h1>
  <hr>
  <h2><b>Username: </b>{{ driver }}</h2>
  <a><b>License number: </b>{{ driver.license_number }}</a><br>
  <a><b>First name: </b>{{ driver.first_name }}</a><br>
  <a><b>Last name: </b>{{ driver.last_name }}</a><br><br>

  {% for car in driver.cars.all  %}
    <h3><b>Cars model: </b>{{ car.model}}</h3>
    <a><b>License number: </b>{{ car }}</a><br>
    <a><b>First name: </b>{{ car }}</a><br>
    <a><b>Last name: </b>{{ car }}</a><br><br>
  {% endfor %}
{% endblock %}
